@font-face {
	font-family: "Jost Light";
	src: url("/fonts/Jost-300-Light.ttf");
}
@font-face {
	font-family: "No Tears";
	src: url("/fonts/No Tears.ttf");
}

:root {
	/* Jost Light needed for when displaying fractions */
	--font-primary: "No Tears", "Jost Light";
	--font-secondary: "Jost Light";
	--foreground: #5c5852;
	--foreground-accent: #a6752e;
	--background: #fcf5e5;
	--border-color: #ccc8c2;
}

body {
	font-family: var(--font-primary);
	font-size: 24px;
	font-weight: 16px;
	color: var(--foreground);
	background-color: var(--background);
}

a:link, a:visited {
	color: inherit;
}
a:hover {
	color: var(--foreground-accent);
}
.container {
	padding-bottom: 20px;
}

.page-title {
	padding-bottom: 15px;
	> h1 {
		padding-bottom: 0px;
		margin-bottom: 0px;
	}
	a:link, a:visited {
		text-decoration: none;
	}
	a:hover {
		text-decoration: underline;
	}
	.recipe-title {
		font-weight: bold;
		text-decoration: underline;
		text-decoration-thickness: 2px;
		text-underline-offset: 5px;
	}
}
.homepage {
	padding: 5% 0px 80px 0px;
	ul {
		padding-left: 10px;
		list-style: none;
		font-size: 24px;
	}
	img {
		margin: auto;
		display: block;
		width: 300px;
	}
	h1 {
		padding-top: 10px;
		border-top: 1px solid var(--border-color);
		border-bottom: 1px solid var(--border-color);
	}
	h2 {
		text-align: center;
		padding-top: 5px;
	}
	h3 {
		text-align: center;
	}
	table {
		margin: auto;
		font-size: 20px;
		th {
			font-size: 30px;
		}
	}
	.recipe-group {
		padding-bottom: 75px;
	}
	.group-1 {
		margin: auto;
		text-align: center;
		a:link, a:visited {
			text-decoration: none;
		}
	}
}
.credits {
	padding: 30px 10px 15px 10px;
	line-height: 1.0;
	text-align: left;
	outline: 1px dashed var(--border-color);
	margin: auto;
	h3 {
		text-align: center;
	}
	table, th, td {
		padding: 10px;
	}
	th {
		text-align: center;
	}
	tr td:first-child {
		border-right: 1px solid #ccc8c2;
	}
}
.recipe-page, .recipe-entry {
	padding-top: 15%;
	margin: auto;
	img {
		max-height: 500px;
		max-width: 100%;
		border-radius: 15px;
	}
}
.recipe-page {
	ul {
		list-style: none;
		padding-left: 0px;
	}
	h1 {
		margin-bottom: 0px;
	}
	.recipe-header {
		margin: 5px 0px 0px 0px;
	}
}
.recipe-entry, .recipe-credits {
	ul {
		list-style: circle;
	}
}
.recipe-entry-contents {
	p {
		padding-left: 5px;
	}
	figcaption {
		font-style: italic;
		font-size: 20px;
	}
}
.recipe-credits {
	border-left: 1px double #ccc8c2;
	border-width: 5px;
	padding: 5px 5px 0px 5px;
	margin: 10px auto 10px auto;
	font-style: italic;
	p {
		margin-bottom: 0px;
	}
}
.center {
	margin: auto;
}
