{{ define "title" }}
	{{ .Title }} &ndash; {{ .Site.Title }}
{{ end }}

{{ define "main" }}
	<div class="recipe-entry col-lg-8 col-md-10 col-12">
		{{ $group := index .Params.tags 0 }}
		<div class="page-title">
			<h1 class="recipe-title">{{ .Page.Title }}</h1>
            <h3><strong><a href="{{ .Site.BaseURL }}">~| home</a></strong><br><br>
				<strong>tags:</strong>
			{{ range $i := .Params.tags }}
				{{ $url := ( printf "%s.md" $i ) }}
				{{ if os.FileExists $url }}
					<a href="../{{ $i }}.html"> {{ $i }}</a> |
				{{ end }}
			{{ end }}
			</h3>
		</div>
		<div class="recipe-entry-contents">
			<!-- if image exists and is not the default image (the site logo), insert above the recipe -->
			<!-- using logo as default for social media embedding purposes -->
			{{ $img := .Params.image }}
			{{ $img_def := "/images/logo.png" }}
			{{ $cap := .Params.caption }}
			{{ $alt := .Params.alt }}
			{{ if (ne $img $img_def) }}
				<figure>
					<img src={{ $img }} alt={{ $alt }}>
					<figcaption>{{ $cap }}</figcaption>
				</figure>
			{{ end }}
			<!-- Embed description should be different from in-site description.
			{{ .Params.description }}
			-->
			{{ .Content }}
		</div>
	</div>
	{{ if .Params.credits }}
	    <div class="recipe-credits col-lg-8 col-md-10 col-12">
		<p>Credits to:</p>
		<ul>
		    {{ range .Params.credits }}
			<li>{{ . | markdownify }}</li>
		    {{ end }}
		</ul>
	    </div>
	{{ end }}
{{ end }}
