{{ define "title" }}
	{{ .Title }} &ndash; {{ .Site.Title }}
{{ end }}

{{ define "main" }}
	<div class="recipe-entry col-lg-8 col-md-10 col-12">
		{{ $group := index .Params.tags 0 }}
		<div class="page-title">
			<h1>{{ .Page.Title }}</h1>
			<h3><strong>~| <a href="{{ .Site.BaseURL }}">home</a></strong><br>
				<strong>tags:</strong>
			{{ range $i := .Params.tags }}
				{{ $url := ( printf "%s.md" $i ) }}
				{{ if os.FileExists $url }}
					<a href="../{{ $i }}.html"> {{ $i }}</a> |
				{{ end }}
			{{ end }}
			</h3>
		</div>
		<div class="recipe-entry-contents">
			{{ .Content }}
		</div>
	</div>
	{{ if .Params.credits }}
		<div class="recipe-credits col-lg-8 col-md-10 col-12">
			<p>Credits to:<p>
			<ul>
				{{ range $i := .Params.credits }}
					<li>{{ $i }}</li>
				{{ end }}
			</ul>
		</div>
	{{ end }}
{{ end }}
