{{ define "title" }}
	{{ .Title }} &ndash; {{ .Site.Title }}
{{ end }}
{{ define "main" }}
<div class="recipe-page col-md-3 col-8">
	<div class="page-title">
		<h1>{{ .Page.Title }}</h1>
		~| <a href="{{ .Site.BaseURL }}">home</a>
	</div>
	{{ .Content }}
	{{ $group := index .Params.tags 0 }}
	<div class="group-list">
		{{ range (where .Site.Pages "Section" "posts") }}
			{{ $letter := newScratch }}
			{{ $letter.Set "current" "null" }}
			{{ range $i := ( sort .Pages "Title" "asc" ) }}
				{{ if in $i.Params.tags $group }}
					{{ $current_letter := ($letter.Get "current") }}
					{{ $leading_letter := (slicestr $i.Title 0 1) }}
					{{ if ne $leading_letter $current_letter }}
						<div class="group-list-item"><h3 class="recipe-header">{{ $leading_letter }}</h3></div>
						{{ $letter.Set "current" $leading_letter }}
					{{ end }}
					<div class="group-list-item"><a href="{{ $i.RelPermalink }}">{{ $i.Title }}</a></div>
				{{ end }}
			{{ end }}
		{{ end }}
	</div>
</div>

{{ end }}
