{{ define "main" }}
<main aria-role="main">
	<div class="homepage">
		<img src="images/logo.png">
		{{ .Content }}
	</div>
</main>

{{ end }}


{{ define "footer" }}
<footer aria-role="footer">
	<div class="credits col-lg-4 col-md-6 col-10">
		<h3><a target="_blank" href="https://github.com/MostlyHarmlessCafe/Mostly-Harmless-Cafe">Contributing a Recipe</a></h3>
		<table>
			<tr>
				<th colspan="2">Credits</th>
			</tr>
			<tr>
				<td width="30%"><a target="_blank" href="https://github.com/deadbody13">Deadbody13</a></td>
				<td>Web Design, Recipe Contributor</td>
			</tr>
			<tr>
				<td> <a target="_blank" href="https://github.com/LizardForth">SpicyForth</a></td>
				<td>Graphics Design, Recipe Contributor, Site Hosting</td>
			</tr>
		</table>

	</div>
</footer>
{{ end }}
