{{ define "main" }}
<main aria-role="main">
	<div class="homepage">
		<img src="images/logo.png">
		<div class="col-lg-6 col-md-8 col-sm-10 col-12" style="margin: auto;">
			<div class="row">
				<div>
					<div class="col-lg-6 col-md-4 col-8 group-1"><h1><a href="/food.html">Food</a></h1></div>
				</div>
				<div class="col-lg-2 col-md-3 col-4 group-2"><h2><a href="/chicken.html">Chicken</a></h2></div>
				<div class="col-lg-2 col-md-3 col-4 group-2"><h2><a href="/asian.html">Asian</a></h2></div>
				<div class="col-lg-2 col-md-3 col-4 group-2"><h2><a href="/brunch.html">Brunch</a></h2></div>
				<div class="col-lg-2 col-md-3 col-4 group-2"><h2><a href="/pasta.html">Pasta</a></h2></div>
				<div class="col-lg-2 col-md-3 col-4 group-2"><h2><a href="/sauce.html">Sauces</a></h2></div>
			</div>
		</div>
	</div>
</main>
{{ end }}

{{ define "footer" }}
<footer aria-role="footer">
	<div class="credits col-lg-4 col-md-6 col-10">
		<h3><a target="_blank" href="https://github.com/MostlyHarmlessCafe/Mostly-Harmless-Cafe">Contributing a Recipe</a></h3>
		<table>
			<tr>
				<th colspan="2">Credits</th>
			</tr>
			<tr>
				<td width="30%"><a target="_blank" href="https://github.com/deadbody13">Deadbody13</a></td>
				<td>Web Design, Recipe Contributor</td>
			</tr>
			<tr>
				<td> <a target="_blank" href="https://github.com/LizardForth">SpicyForth</a></td>
				<td>Graphics Design, Recipe Contributor, Site Hosting</td>
			</tr>
		</table>

	</div>
</footer>
{{ end }}
